.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header {
    border-bottom: 1px solid #111;
}

.header.on {
    background: #fff;
}


.header .inner {
    display: flex;
    align-items: center;
    height: 100px;
    width: 1200px;
    margin: 0 auto;
}

.header .inner img {
    width: 120px;

}

.header .icon {
    display: flex;
    margin: 0 0 0 auto;
    font-size: 25px;
    gap: 20px;
}

.header .gnb {
    margin: 0 0 0 auto;
}

.header .gnb>ul {
    display: flex;
    gap: 30px;
    font-size: 18px;
}

.header .gnb>ul>li {
    position: relative;
    font-size: 18px;
}

.header .gnb>ul>li>a {
    font-size: 18px;
}

.header .gnb>ul>li~li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 1px;
    height: 12px;
    background: #999;
    transform: translate(0%, -50%);
}


.main_visual .main_slide figure {
    height: 800px;
    position: relative;
}

.main_visual .main_slide .itm01 {
    background: url(../img/main1.png) no-repeat center center/cover;
}

.main_visual .main_slide .itm02 {
    background: url(../img/main2.png) no-repeat center center/cover;
}

.main_visual .main_slide .itm03 {
    background: url(../img/main4.png) no-repeat center center/cover;
}

.main_visual .main_slide .slogan {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    margin: 0 auto;
}

.main_visual .main_slide .slogan strong {
    display: block;
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    text-shadow: 0 0 5px #111;
    margin: 0 0 30px 0;
}

.main_visual .main_slide .slogan a {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 100;
}


/*  버튼 */

.main_visual .slick-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.main_visual .slick-dots li{
display: inline-block;
margin: 0 4px;
}

.main_visual .slick-dots li button {
    background-color: #111;
    color: #fff;
    outline: none;
    border: none;
    opacity: 0.6;
    font-size: 0;
    width: 30px;
    height: 5px;
}

.main_visual .slick-dots li.slick-active button {
    background: #fff
}

